body{
  margin: 0px;
  font-family:'Poppins', sans-serif;
}
body p{
  color:#707070;
}
.header-area{
  height: 700px;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header-text{
  width: 40%;
  float: left;
  margin-left: 4%;
  padding-left: 2%;
  margin-top: 140px;
}
.header-text h1{
  color: #EC4C7A;
  font-size: 50px;
}
.images-area{
  width: 40%;
  float: left;
  margin-left: 4%;
  padding-left: 2%;
  margin-top: 50px;
}
.images-area img{
  width: 100%;
}
.btn{
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}
.biography-area{
  height: 700px;
  background-image: url(../images/biography-bg.png);
  background-repeat: no-repeat;

}
.biography-text{
  width: 40%;
  float: left;
  margin-left: 4%;
  padding-left: 2%;
  margin-top: 220px;
}
.last-work{
  height: 500px;
  background-image: url(../images/latest-work-bg.png);
  background-position: top;
}
.last-work h2{
  text-align: center;
  margin-top: 20px;
}
.work-img{
  width: 25%;
  height: 90%%;
  float: left;
  margin-left: 4%;
  padding-left: 2%;
  margin-top: 4%;
}
.work-img img{
  width: 100%;
}
.client-space{
  height: 500px;
  text-align: center;
  background-image: url(../images/footer-bg.png);
  background-position: center;
}
.client-title{
  margin-top: 100px;
  margin-bottom: 55px;
}
.client-name{
  width: 20%;
  margin: auto;
}
.client-name h5{
  font-weight: 600;
}
.client-name p{
  color: #707070;
  margin-top: -23px;
}
.client-say{
  width:30% ;
  margin: auto;
}
.client-say p{
  margin-top: 30px;
  font-size: 13px;
}
.contact{
  width: 40%;
  margin: auto;
  background: linear-gradient(90deg, rgba(236,79,143,1) 38%, rgba(236,79,143,1) 100%, rgba(237,75,114,1) 100%);
  color: #ffffff;
  padding: 6px 30px;
  border-radius: 10px;
}

.footer p{
  color: #707070;
  text-align: center;
}